$content : 1440px;
#head{
    width: 100%;
    background: #d1e2f2;
    .top{
        header{
            width: $content;
            margin: 0 auto;
        }
        .banner{
            width: $content;
            min-height: 660px;
            margin: 0 auto;
        }
    }
    
}

#ad{
    width: $content;
    margin: 0 auto;
    margin-bottom: 60px;
    overflow: hidden;
}