<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/moduels/shop.css">
    <script src="../lib/require.js" data-main="../js/all.js"></script>
</head>
<body>
    <header id="shop">
        <section >
            <a href="http://localhost:3000/views/index.html">OPPO</a>
            <ul>
                <li>Find X 系列</li>
                <li>Reno 系列</li>
                <li>Ace系列</li>
                <li>K / A 系列</li>
                <li>智能硬件</li>
                <li>商城</li>
                <li>关于 OPPO</li>
                <li>ColorOS</li>
                <li>服务</li>
        </ul>
        </section>
    </header>
    <div class="list">
        <section>
            <li>
                <a href="">111111</a>
                <p>2222222222</p>
            </li>
            <li><a href="">111111</a></li>
            <li><a href="">111111</a></li>
            <li><a href="">111111</a></li>
            <li><a href="">111111</a></li>
        </section>
    </div>
</body>
</html>