<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../static/font_1926863_dd6md1be3t/iconfont.css">
    <script src="../lib/require.js" data-main="../js/all.js"></script>
</head>
<body>
    <div id="head">
        <section class="top">
            <!-- 导航 -->
            <header>
                <h1>
                    <a href="#">OPPO</a>
                </h1>
                <ul>
                    <li>
                        <a href="">手机</a>
                    </li>
                    <li>
                        <a href="">智能硬件</a>
                    </li>                
                    <li>
                        <a href="">商城</a>
                    </li>                
                    <li>
                        <a href="">关于OPPO</a>
                    </li>                
                    <li>
                        <a href="https://www.coloros.com/topic/coloros7.html">COLOROS</a>
                    </li>                
                    <li>
                        <a href="">服务</a>
                    </li>                
                    <li>
                        <a href="https://bshop.oppo.com/shop/list">企业购</a>
                    </li>
                </ul>
                <span>
                    <i class="iconfont iconyonghu">
                        <ul class="login">
                            <span></span>
                            <li>用户名</li>
                            <li>个人中心</li>
                            <li>退出</li>
                        </ul>
                    </i>
                    <em>
                        <a href="">
                            <i class="iconfont icongouwuche"></i>
                        </a>
                    </em>
                </span>
            </header>
            <div class="banner">
                <div class="word">
                    <h2>
                        <a href="https://www.oppo.com/cn/product/reno4pro/">Reno4 Pro</a>
                    </h2>
                    <h3>
                        <a href="https://www.oppo.com/cn/product/reno4pro/">5G 视频手机</a>
                    </h3>
                    <p>
                        <a href="https://www.oppo.com/cn/product/reno4pro/">超级夜景视频，拍出新夜色</a>
                    </p>
                    <div class="btn">
                        <div class="more">
                            <a href="https://www.oppo.com/cn/product/reno4pro/">了解更多</a>
                        </div>
                        <p>
                            <a href="">立即购买</a>
                        </p>
                    </div>
                </div>
                <img src="../static/image/1.png" alt="">
            </div>
            
        </section>
    </div>
    <!-- 第一板块 -->
    <div id="ad">
        <div class="ad_tl">
            <img src="../static/image/2.jpg" alt="">
            <a href="https://www.oppo.com/cn/product/findx2pro/">Find X2 Pro </a>
            <h3>竹青新色，治愈上市</h3>
            <div class="action">
                <a href="https://www.oppo.com/cn/product/findx2pro/" class="more">了解更多</a>
                <a href="" class="buy">立即购买</a>
            </div>
        </div>
        <div class="ad_tr">
            <!-- 右上 -->
            <img src="../static/image/3.jpg" alt="">
            <a href="https://www.oppo.com/cn/product/findx2pro/">OPPO 手环 
                <span>新品</span> 
            </a>
            <h3>睡眠 8 小时，守护 2 万次</h3>
            <div class="action" >
                <a href="" class="buy pic">立即购买</a>
            </div>
            <!-- 右下 -->
            <img src="../static/image/4.jpg" alt="">
            <a href="https://www.oppo.com/cn/product/findx2pro/">OPPO 手环 
                <span>新品</span> 
            </a>
            <h3>睡眠 8 小时，守护 2 万次</h3>
            <div class="action">
                <a href="" class="buy">立即购买</a>
            </div>
        </div>         
    </div>
    <!-- 第二板块 -->
    <div id="ad">
        <div class="ad_tl2">
            <img src="../static/image/5.jpg" alt="">
            <a href="https://www.oppo.com/cn/product/a92s/">A92s  </a>
            <h3>双模 5G，120Hz 超清畅感全面屏</h3>
            <div class="action">
                <a href="https://www.oppo.com/cn/product/a92s/" class="more">了解更多</a>
                <a href="" class="buy">立即购买</a>
            </div>
        </div>
        <div class="ad_tr2">
            <!-- 右下 -->
            <img src="../static/image/6.jpg" alt="">
            <a href="https://www.oppo.com/cn/product/reno3pro/">Reno3 Pro 
            </a>
            <h3>5G 视频手机，90Hz 高感曲面屏</h3>
            <div class="action">
                <a href="https://www.oppo.com/cn/product/reno3pro/" class="more">了解更多</a>
                <a href="" class="buy">立即购买</a>
            </div>
        </div>         
    </div>


</body>
</html>