<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/public.css">
    <link rel="stylesheet" href="./icon/iconfont.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <!-- nav -->
    <nav>
        <div class="nav-con">
            <h1 class="float_left">
                <img src="./images/logo_03.png" alt="">
            </h1>
            <ul class="float_right">
                <li>
                    <a href="#">
                        <i class="iconfont icon-home"></i>
                        <p>Home</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-tuangou"></i>
                        <p>Service</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-shipin"></i>
                        <p>Experience</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-shoucang"></i>
                        <p>Solution</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-xinyongqia"></i>
                        <p>Advantage</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-01"></i>
                        <p>Case</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-ic_history"></i>
                        <p>News</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-zhaopian"></i>
                        <p>Marketing</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-gengduo"></i>
                        <p>Attention</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- banner -->
    <div id="banner">
        <div class="banner-con">
            <img src="./images/banner_02.png" alt="">
        </div>
    </div>
    <!-- intro版心 -->
    <div class="intro-con clear_fix">
        <h3>专业的网络品牌塑造者，网站品牌设计服务首选者</h3>
        <p>梦创义科技是一家专业的互联网品牌服务公司，专注于网页设计、平面设计、品牌升级、品牌策划、网站开发等多个领域</p>
        <div class="pic">
            <div class="pic_box">
                <div class="box">
                    <img src="./images/intro_03.png" alt="">
                </div>
                <div class="box">
                    <img src="./images/intro_05.png" alt="">
                </div>
                <div class="box">
                    <img src="./images/intro_03.png" alt="">
                </div>
                <div class="box">
                    <img src="./images/intro_05.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- title专用 -->
    <div class="title-con">
        <h2>News Center</h2>
        <h3>-新闻中心-</h3>
    </div>
    <!-- news -->
    <div class="news-con clear_fix">
        <!-- top -->
        <div class="pic">
            <div class="pic_box clear_fix">
                <div class="box">
                    <img src="./images/news_pic_03.png" alt="">
                    <div class="hide">
                        <span class="float_left">2015-07-03</span>
                        <span class="float_left">1022 分享</span>
                        <p>Web网站建设者开发中，遇到最多的一件事情就是创建一个能很好跨越各种类型浏览器....</p>
                        <a href="">查看详情 > ></a>
                    </div>
                </div>
                <div class="box">
                    <img src="./images/news_pic_05.png" alt="">
                    <div class="hide">
                        <span class="float_left">2015-07-03</span>
                        <span class="float_left">1022 分享</span>
                        <p>Web网站建设者开发中，遇到最多的一件事情就是创建一个能很好跨越各种类型浏览器....</p>
                        <a href="">查看详情 > ></a>
                    </div>
                </div>
                <div class="box">
                    <img src="./images/news_pic_03.png" alt="">
                    <div class="hide">
                        <span class="float_left">2015-07-03</span>
                        <span class="float_left">1022 分享</span>
                        <p>Web网站建设者开发中，遇到最多的一件事情就是创建一个能很好跨越各种类型浏览器....</p>
                        <a href="">查看详情 > ></a>
                    </div>
                </div>
                <div class="box">
                    <img src="./images/news_pic_05.png" alt="">
                    <div class="hide">
                        <span class="float_left">2015-07-03</span>
                        <span class="float_left">1022 分享</span>
                        <p>Web网站建设者开发中，遇到最多的一件事情就是创建一个能很好跨越各种类型浏览器....</p>
                        <a href="">查看详情 > ></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- center -->
        <div class="news_btn">
            <span>
                <a href="#" class="btn1 float_left"></a>
                <a href="#" class="btn2 float_right"></a>
            </span>
        </div>
        <!-- bottom -->
        <div class="news">
            <div class="title_box">
               <span class="title1"> 
                   <p>网页制作</p>
               </span>
               <span>
                   <p>网站优化</p>
               </span>
               <span>
                   <p>网页设计</p>
               </span>
               <span>
                   <p>营销</p>
               </span> 
            </div>
            <div class="news_box clear_fix">
                <ul>
                    <li>
                        <a href="#" class="text_ellip">网站做得不好的原因</a>
                    </li>
                    <span>11-13</span>
                    <li>
                        <a href="#" class="text_ellip">完美网站建设的一些技巧技巧技巧</a>
                    </li>
                    <span>11-01</span>
                    <li>
                        <a href="#" class="text_ellip">网站做得不好的原因</a>
                    </li>
                    <span>10-21</span>
                    <li>
                        <a href="#" class="text_ellip">完美网站建设的一些技巧技巧技巧</a>
                    </li>
                    <span>10-16</span>
                    <li>
                        <a href="#" class="text_ellip">网站做得不好的原因</a>
                    </li>
                    <span>10-14</span>
                    <li>
                        <a href="#" class="text_ellip">完美网站建设的一些技巧技巧技巧</a>
                    </li>
                    <span>10-13</span>
                </ul>
                <ul>
                    <li>
                        <a href="#" class="text_ellip">网站做得不好的原因</a>
                    </li>
                    <span>11-13</span>
                    <li>
                        <a href="#" class="text_ellip">完美网站建设的一些技巧技巧技巧</a>
                    </li>
                    <span>11-01</span>
                    <li>
                        <a href="#" class="text_ellip">网站做得不好的原因</a>
                    </li>
                    <span>10-21</span>
                    <li>
                        <a href="#" class="text_ellip">完美网站建设的一些技巧技巧技巧</a>
                    </li>
                    <span>10-16</span>
                    <li>
                        <a href="#" class="text_ellip">网站做得不好的原因</a>
                    </li>
                    <span>10-14</span>
                    <li>
                        <a href="#" class="text_ellip">完美网站建设的一些技巧技巧技巧</a>
                    </li>
                    <span>10-13</span>
                </ul>
                <ul>
                    <li>
                        <a href="#" class="text_ellip">网站做得不好的原因</a>
                    </li>
                    <span>11-13</span>
                    <li>
                        <a href="#" class="text_ellip">完美网站建设的一些技巧技巧技巧</a>
                    </li>
                    <span>11-01</span>
                    <li>
                        <a href="#" class="text_ellip">网站做得不好的原因</a>
                    </li>
                    <span>10-21</span>
                    <li>
                        <a href="#" class="text_ellip">完美网站建设的一些技巧技巧技巧</a>
                    </li>
                    <span>10-16</span>
                    <li>
                        <a href="#" class="text_ellip">网站做得不好的原因</a>
                    </li>
                    <span>10-14</span>
                    <li>
                        <a href="#" class="text_ellip">完美网站建设的一些技巧技巧技巧</a>
                    </li>
                    <span>10-13</span>
                </ul>
                <ul>
                    <li>
                        <a href="#" class="text_ellip">网站做得不好的原因</a>
                    </li>
                    <span>11-13</span>
                    <li>
                        <a href="#" class="text_ellip">完美网站建设的一些技巧技巧技巧</a>
                    </li>
                    <span>11-01</span>
                    <li>
                        <a href="#" class="text_ellip">网站做得不好的原因</a>
                    </li>
                    <span>10-21</span>
                    <li>
                        <a href="#" class="text_ellip">完美网站建设的一些技巧技巧技巧</a>
                    </li>
                    <span>10-16</span>
                    <li>
                        <a href="#" class="text_ellip">网站做得不好的原因</a>
                    </li>
                    <span>10-14</span>
                    <li>
                        <a href="#" class="text_ellip">完美网站建设的一些技巧技巧技巧</a>
                    </li>
                    <span>10-13</span>
                </ul>
            </div>
        </div>
    </div>
    <!-- solution -->
    <!-- title -->
    <div class="title-con title_solution">
        <h2>The Solution</h2>
        <h3>-解决方案-</h3>
    </div>
    <!-- content -->
    <div id="solution">
        <div class="solution-con clear_fix">
            <!-- top -->
            <div class="solu_t">
                <dl>
                    <dt>
                        <img src="./images/so1.png" class="abso_center" alt="">
                    </dt>
                    <dd>
                        <a href="#" class="solu_t1">政府信息化</a>
                        <a href="#" class="solu_t2">统一的网络平台建设、统一的数据环境建设、建设重点业务系统</a>
                        <a href="#" class="solu_t3">更多>></a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="./images/so5.png" class="abso_center" alt="">
                    </dt>
                    <dd>
                        <a href="#" class="solu_t1">人才信息化</a>
                        <a href="#" class="solu_t2">人才是企业的核心竞争力，搭建信息化平台，培养多样化人才</a>
                        <a href="#" class="solu_t3">更多>></a>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="./images/so7.png" class="abso_center" alt="">
                    </dt>
                    <dd>
                        <a href="#" class="solu_t1">电子商务</a>
                        <a href="#" class="solu_t2">21世纪要么电子商务，要么无商可务</a>
                        <a href="#" class="solu_t3">更多>></a>
                    </dd>
                </dl>
            </div>
            <!-- center -->
            <div class="solu_btn">
                <span>
                    <a href="#" class="btn1 float_left"></a>
                    <a href="#" class="btn2 float_right"></a>
                </span>
            </div>
            <!-- bottom -->
            <div class="solu_b">
                <ul>
                    <li>
                        <a href="#">
                            <h2>235位</h2>
                            <h3>成功服务客户</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h2>35套</h2>
                            <h3>成功开发程序</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h2>125个</h2>
                            <h3>品牌设计网站</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h2>32个</h2>
                            <h3>商场网站开发</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h2>28次</h2>
                            <h3>成功网站优化</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h2>56类</h2>
                            <h3>服务行业种类</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- case -->
    <div class="case-con clear_fix">
        <!-- title -->
        <div class="title-con">
            <h2>Successful case</h2>
            <h3>-成功案例-</h3>
        </div>
        <div class="case_box">
            <ul>
                <li>
                    <a href="#">
                        <img src="./images/case1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/case2.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/case1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/case2.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/case1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/case2.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/case1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="./images/case2.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- teams -->
    <div class="teams-con clear_fix">
        <!-- title -->
        <div class="title-con">
            <h2>about teams</h2>
            <h3>-关于团队-</h3>
        </div>
        <!-- content -->
        <div class="teams_box clear_fix">
            <dl class="float_left">
                <dd>
                    <img src="./images/about_01.png" alt="">
                </dd>
                <dt>
                    <h3>设计师</h3>
                    <p>设计相关专业知识<br>拥有丰富的4a广告工作经验<br>具有非常独特的设计思路</p>
                </dt>
            </dl>
            <dl class="float_left">
                <dd>
                    <img src="./images/about_02.png" alt="">
                </dd>
                <dt>
                    <h3>设计师</h3>
                    <p>设计相关专业知识<br>拥有丰富的4a广告工作经验<br>具有非常独特的设计思路</p>
                </dt>
            </dl>
            <dl class="float_left">
                <dd>
                    <img src="./images/about_03.png" alt="">
                </dd>
                <dt>
                    <h3>设计师</h3>
                    <p>设计相关专业知识<br>拥有丰富的4a广告工作经验<br>具有非常独特的设计思路</p>
                </dt>
            </dl>
            <dl class="float_left">
                <dd>
                    <img src="./images/about_04.png" alt="">
                </dd>
                <dt>
                    <h3>设计师</h3>
                    <p>设计相关专业知识<br>拥有丰富的4a广告工作经验<br>具有非常独特的设计思路</p>
                </dt>
            </dl>
        </div>
    </div>
    <!-- footer -->
    <footer>
       <div class="footer-con">
           <!-- top -->
        <img src="./images/footer_logo_03.png" class="img1" alt="">
        <!-- center -->
        <ul>
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a href="#">理念</a>
            </li>
            <li>
                <a href="#">体验</a>
            </li>
            <li>
                <a href="#">方案</a>
            </li>
            <li>
                <a href="#">优势</a>
            </li>
            <li>
                <a href="#">案例</a>
            </li>
            <li>
                <a href="#">新闻</a>
            </li>
            <li>
                <a href="#">运维</a>
            </li>
            <li>
                <a href="#">关注</a>
            </li>
            <li class="border_none">
                <a href="#">Sitemap</a>
            </li>
        </ul>
        <!-- bottom -->
        <span>
            <p class="float_left">Copyright 2008 ASAweb company.All rights reserved.</p>
            <img src="./images/footer_03.png" alt="" class="float_left">
        </span>
       </div>
    </footer>
</body>
</html>